@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bug: #a8b820;
  --color-dark: #705848;
  --color-dragon: #7038f8;
  --color-electric: #f8d030;
  --color-fairy: #ee99ac;
  --color-fighting: #c03028;
  --color-fire: #f08030;
  --color-flying: #a890f0;
  --color-ghost: #705898;
  --color-grass: #78c850;
  --color-ground: #e0c068;
  --color-ice: #98d8d8;
  --color-normal: #a8a878;
  --color-poison: #a040a0;
  --color-psychic: #f85888;
  --color-rock: #b8a038;
  --color-steel: #b8b8d0;
  --color-water: #6890f0;
}

* {
  font-family: 'Silkscreen', cursive;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    padding: 0 2rem;
  }
}
